{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'orders/form.css' %}">


    <title>Orden de Servicio</title>
  </head>
  <body>



<div id="bind-container">
	<div id="pen-container">
		<div class="pen-title">
			<div class="row">
				<div class="col-md-4 text-left">

					{%if many_branches %}
						<select id="userbranch" class="form-control" style="color: white" data-bind="event: { change : ChangeBranch }">
							{%for branch in branches%}
								<option style="color: #666666; padding:2em;" value="{{branch.id}}">Sucursal {{branch}}</option>
							{%endfor%}
						</select>
					{%else%}
						Sucursal {{BranchName}}
					{%endif%}

				</div>
				<div class="col-md-8">
					{{user.get_full_name}}&nbsp;({{user}})
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<a href="" class="logout">Salir</a>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
	    <div class="card"></div>
	    <div class="card">

		<ul class="menu">
			<li>&raquo;&nbsp;Inicio</li>
			<li>&raquo;&nbsp;<a href="/admin/core/order/" target="_blank">Consulta de ordenes de servicio</a></li>
		</ul>

	        <h1 class="title">Nueva Orden de servicio</h1>

			<div id="ok" style="display:none" class="alert alert-success" role="alert" style="font-weight: bold">
				La orden de servicio se generó con éxito.
			</div>

			<span id="resume-error" style="display:none">
				<div class="alert alert-danger" role="alert" style="font-weight: normal">
					<ul>
						<li data-bind="visible: iserror01">Debe seleccionar un servicio válido.</li>
						<li data-bind="visible: iserror02">Debe proporcionar una cantidad.</li>
						<li data-bind="visible: iserror03">Debe seleccionar un doctor válido.</li>
						<li data-bind="visible: iserror04">Debe proporcionar el nombre del paciente y su edad.</li>
					</ul>
				</div>
			</span>



	        <form>

	        	<div class="row">
	        		<div class="col-md-10 col-xs-10 col-sm-10">
			            <div class="ff-container form-group">
						    <label for="service" class="bmd-label-floating">Servicio</label>
						    <!--input type="text" class="form-control" id="service" Required-->
							<input class="form-control" id="service" Required data-bind="jqAuto: { autoFocus: true }, jqAutoSource: Services, jqAutoValue: SelectedService, jqAutoSourceLabel: 'description', jqAutoSourceInputValue: 'description', jqAutoSourceValue: 'id'" />
						    <span class="bmd-help">Nombre del servicio</span>
			            </div>
	        		</div>
	        		<div class="col-md-2 col-xs-2 col-sm-2">
			            <div class=" form-group">
						    <label for="service" class="bmd-label-floating" style="margin-left: -60px" >Cantidad</label>
						    <input type="number" class="form-control" id="qty" style="margin-left: -60px" Required data-bind="textInput: Quantity">
						    <span class="bmd-help" style="margin-left: -60px" >Cantidad de servicios</span>
			            </div>
	        		</div>
	        	</div>

	            <div class="ff-container form-group">
				    <label for="service" class="bmd-label-floating">Doctor</label>
				    <!--input type="text" class="form-control" id="service" Required-->
				    <input class="form-control" id="doctor" Required data-bind="jqAuto: { autoFocus: false }, jqAutoSource: Doctors, jqAutoValue: SelectedDoctor, jqAutoSourceLabel: 'fullname', jqAutoSourceInputValue: 'fullname', jqAutoSourceValue: 'id'" />
				    <span class="bmd-help">Nombre del doctor referido</span>
	            </div>

	        	<div class="row">
	        		<div class="col-md-10 col-xs-10 col-sm-10">
			            <div class="ff-container form-group">
						    <label for="service" class="bmd-label-floating">Paciente</label>
						    <input type="text" class="form-control" Required data-bind="textInput: Patient">
						    <span class="bmd-help">Nombre completo del paciente</span>
			            </div>
	        		</div>
	        		<div class="col-md-2 col-xs-2 col-sm-2">
			            <div class=" form-group">
						    <label for="service" class="bmd-label-floating" style="margin-left: -60px" >Edad</label>
						    <input type="number" class="form-control" style="margin-left: -60px" Required data-bind="textInput: Age">
						    <span class="bmd-help" style="margin-left: -60px" >Edad del paciente</span>
			            </div>
	        		</div>
	        	</div>


	        	<div class="row" style="display:none" id='order-resume'>
	        		<div class="col-md-12">
						<div class="jumbotron">

							<div class="row">
								<div class="col-md-8">

									  <h2 class="display-4">Laboratorio {{BranchName}}</h2>
									  <h5 class="">{{BranchAddress}}</h5>

								</div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-12 text-right">
											Fecha: {{date}}
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 lead" style="margin-top: 3em;">
									Practiquese al Sr(a):
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 lead">
									<span data-bind="text: Patient" style="font-weight: bold;"></span>
									<span data-bind="visible: isage">
										&nbsp;(<span data-bind="text: Age"></span> años)
									</span>
								</div>
							</div>

							<hr class="my-4">

							<div class="row">
								<div class="col-md-12 lead" style="margin-top: 3em;">
									Los siguientes estudios:
								</div>
							</div>

							<div class="row">
								<div class="col-md-8 lead">
									<span data-bind="text: Quantity"></span> - <span data-bind="text: ServiceDescription" style="font-weight: bold;"></span>
								</div>
								<div class="col-md-4 text-right" style="font-weight: bold;">
									<span data-bind="visible: isservice">
										Importe: $<span data-bind="text: ServicePrice"></span>
									</span>
								</div>
							</div>

						  <hr class="my-4">

							<div class="row">
								<div class="col-md-12 lead" style="margin-top: 3em;">
									Datos del médico:
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 lead">
									<span data-bind="text: DoctorUI" style="font-weight: bold;"></span>
								</div>
							</div>

						  <hr class="my-4">


							<div class="row">
								<div class="col-md-12 lead" style="margin-top: 3em; font-weight: bold;">
									Total: $<span data-bind="text: Total"></span>
								</div>
							</div>

							<span data-bind="visible: ispromo">
								<div class="alert alert-success" role="alert">
									Precio con la promoción <strong data-bind="text: PromoName"></strong>: $<span data-bind="text: GreatTotal"></span>
								</div>
							</span>

							<span data-bind="visible: iscodepromo">
								<div class="alert alert-success" role="alert" style="font-weight: bold">
									Precio con el código promocional (-<span data-bind="text: PromoCode.discount"></span>%) <strong data-bind="text: PromoCode.code"></strong>: $<span data-bind="text: GreatTotal"></span>
								</div>
							</span>

							<br />
							<br />
							<br />


							<div class="row" >
								<div class="col-md-12">
										<div class="rerun code text-right" style="float: left"><a href="" data-bind="click: OpenCode, visible: canvalidatecode">Validar código promocional</a></div>
								</div>
							</div>

						</div>
	        		</div>
	        	</div>


	            <div class="button-container">
	            	<div class="row">
	            		<div class="col-md-8">
	            		</div>
	            		<div class="col-md-4">
			            	<input type="hidden" id="default_branch" value="{{default_branch}}" />
			                <div id="cancel-button" class="rerun text-right cancel-button" style="display:none;float:right; margin-left:5px;"><a href="" data-bind="click: Cancel">Cancelar</a></div>
			                <div id="next-button"   class="rerun text-right"><a href="" data-bind="click: Next">Siguiente&nbsp;&raquo</a></div>
			                <div id="create-button"  style="display:none" class="rerun text-right"><a href="" data-bind="click: Create">Crear Orden de Servicio</a></div>
	            		</div>
	            	</div>
	            </div>
	        </form>
	    </div>
	</div>

	<div class="modal " tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Ingrese código promocional</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
		    <div class="ff-container form-group">
			    <label for="service" class="bmd-label-floating">Código Promocional</label>
			    <input type="text" class="form-control" Required data-bind="textInput: PromoCodeInput">
			    <span class="bmd-help">Código para hacer válido el descuento </span>
		    </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-bind="click: ValidateCode">Validar</button>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/953fbe7b8a.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script type="text/javascript" src="{% static 'orders/bindings.js' %}"></script>
    <script type="text/javascript" src="{% static 'orders/form.js' %}"></script>
  </body>
</html>