{% load static %}
<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'orders/form.css' %}">

    <title>Orden de Servicio</title>
  </head>
<body>
	<div class="row" id='order-resume'>
		<div class="col-md-12">
			<div class="jumbotron">

				<div class="row">
					<div class="col-md-8">

						  <h2 class="display-4">Laboratorio {{order.branch}}</h2>
						  <h5 class="">{{order.branch.address}}</h5>

					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12 text-right">
								Fecha: {{order.created_date}}
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 lead" style="margin-top: 3em;">
						Practiquese al Sr(a):
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 lead">
						<span data-bind="text: Patient" style="font-weight: bold;">{{order.patient}}</span>
						<span data-bind="visible: isage">
							&nbsp;(<span data-bind="text: Age">{{order.age}}</span> años)
						</span>
					</div>
				</div>

				<hr class="my-4">

				<div class="row">
					<div class="col-md-12 lead" style="margin-top: 3em;">
						Los siguientes estudios:
					</div>
				</div>

				<div class="row">
					<div class="col-md-8 lead">
						<span data-bind="text: Quantity">{{order.quantity}}</span> - <span data-bind="text: ServiceDescription" style="font-weight: bold;">{{order.service}}</span>
					</div>
					<div class="col-md-4 text-right" style="font-weight: bold;">
						<span data-bind="visible: isservice">
							Importe: $<span data-bind="text: ServicePrice">{{order.hprice}}</span>
						</span>
					</div>
				</div>

			  <hr class="my-4">

				<div class="row">
					<div class="col-md-12 lead" style="margin-top: 3em;">
						Datos del médico:
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 lead">
						<span data-bind="text: DoctorUI" style="font-weight: bold;">{{order.doctor}}</span>
					</div>
				</div>

			  <hr class="my-4">


				<div class="row">
					<div class="col-md-12 lead" style="margin-top: 3em; font-weight: bold;">
						Total: $<span data-bind="text: Total">{{order.total}}</span>
					</div>
				</div>

			</div>
		</div>
	</div>

	<script>
		print()
	</script>
</body>




</html>




