
{% load static %}
<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <style type="text/css">
    	body, div, th, td
    	{
    		font-size: 12px;
    	}
    </style>

    <title>Orden de Servicio</title>
  </head>
<body>

{% block content %}
<div class="container">

		<br><br>

		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h6>Número de servicios: {{total_services}}</h6>
					<h6>Total en descuentos: {{total_discount}}</h6>
					<h6>Total de comisiones: {{total_commissions}}</h6>
					<h6>Total de ventas: {{total_commissions}}</h6>
				</div>
			</div>
		</div>

		<div class="row" >
			<div class="col-md-12">
				<table class="table table-sm">
						<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Cantidad</th>
								<th>Servicio</th>
								<th>Sucursal</th>
								<th>Doctor</th>
								<th>Patient</th>
								<th>Edad</th>
								<th>Precio</th>
								<th>Promoción</th>
								<th>Código promoción</th>
								<th>Descuento</th>
								<th>Cantidad por descuento</th>
								<th>Comisión dentista</th>
								<th>Comisión doctor</th>
								<th>Cantidad por comisión</th>
								<th>Total</th>
							</tr>
						</thead>
					{%for row in data%}
						<tr>
							<td>{{row.id}}</td>
							<td>{{row.quantity}}</td>
							<td>{{row.service}}</td>
							<td>{{row.branch}}</td>
							<td>{{row.doctor}}</td>
							<td>{{row.patient}}</td>
							<td>{{row.age}}</td>
							<td>{{row.hprice}}</td>
							<td>{{row.promo|default_if_none:''}}</td>
							<td>{{row.code|default_if_none:''}}</td>
							<td>{{row.discount}}</td>
							<td>{{row.discountquantity}}</td>
							<td>{{row.commission_dentist}}</td>
							<td>{{row.commission_doctor}}</td>
							<td>{{row.commissionquantity}}</td>
							<td>{{row.total}}</td>
						</tr>
					{%endfor%}
				</table>
			</div>
		</div>
</div>
{% endblock %}

	<script>
		print()
	</script>
</body>

</html>